<!--The content below is only a placeholder and can be replaced.-->
<div class="content-body">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        SOL Reparos
    </a>
</nav>

    <div class="btn-group-vertical btn-menu" aria-label="Vertical button group">
        <button type="button" routerLinkActive="active" routerLink="/srcp/home" class="btn btn-secondary text-left">
            <img src="js/assets/svg/si-glyph-house.svg" alt=""><span class="img-active"> Home</span></button>
        <button type="button" routerLinkActive="active" routerLink="/srcp/cliente" class="btn btn-secondary text-left">
            <img src="js/assets/svg/si-glyph-person-public.svg" alt=""><span class="img-active"> Clientes</span></button>
        <button type="button" routerLinkActive="active" routerLink="/srcp/servico" class="btn btn-secondary text-left">
            <img src="js/assets/svg/si-glyph-hammer-and-wrench.svg" alt=""><span class="img-active"> Serviços</span></button>
        <button type="button" routerLinkActive="active" routerLink="/srcp/chamado" class="btn btn-secondary text-left">
            <img src="js/assets/svg/si-glyph-tag-price.svg" alt=""> Ordem de Serviços</button>
        <button type="button" class="btn btn-secondary b-border"></button>
    </div>






<router-outlet></router-outlet>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Coloque o conteúdo do rodapé fixo aqui.</span>
    </div>
</footer>
</div>
