.c2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-header2 {
  font-weight: bold;
  color: rgba(103, 87, 57, 0.8);
  padding: .60rem 1.25rem;

}


.c-body2 {
  .table {
    .col{
      width: 30%;
      color: #747373;
      font-weight: bold;
      font-size: 13px;
    }
    .col2{
      color: #8a8989;
      font-size: 13px;
    }
  }
}