<app-chamado-card>

    <div class="container-fluid">
        <div class="row-fluid">
            <form id="filter" action="" #f="ngForm" (submit)="save()">
                <input type="hidden" name="id" [(ngModel)]="chamado.id">
                <div class="card c2 bg-light">
                    <div class="card-header c-header2">Ordem de Serviços</div>
                    <div class="card-body c-body2">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cliente_id" class="control-label">Cliente</label>
                                <!--<input class="form-control" type="text" id="cliente" name="cliente_id"-->
                                <!--[(ngModel)]="chamado.cliente_id" placeholder="Nome do Cliente"-->
                                 <!--required-->
                                <!--&gt;-->

                                <!--[accept-user-input]="false"-->
                                <!--[list-formatter]="renderCliente"-->
                                <!--placeholder = "Selecione um Cliente"-->
                                <!--display-property-name="nome"-->
                                <!--[header-item-template]="clienteHeaderTemplate"-->
                                <input
                                        ngui-auto-complete
                                        class="form-control"
                                        id = "cliente_id"
                                        name="cliente_id"
                                        [(ngModel)] = "chamado.cliente_id"
                                        [source] = "arrayOfCliente"
                                        z-index = "5"
                                />
                                <!--<table class="table table-sm">-->
                                    <!--<thead>-->
                                        <!--<th>Id</th>-->
                                        <!--<th>Nome</th>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                        <!--<tr *ngFor="let n of nomeCliente">-->
                                            <!--<td>{{n.id}}</td>-->
                                            <!--<td>{{n.nome}}</td>-->
                                        <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="status" class="control-label">Status</label>
                                <select class="form-control" id="status" name="status" required
                                       [(ngModel)]="chamado.status">
                                    <option value="1">Aberto</option>
                                    <option value="2">Fechado</option>
                                    <option value="3">Em Andamento</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="data_incial" class="control-label">Data Inicial</label>
                                <input class="form-control" type="date" id="data_incial" name="data_incial"
                                       [(ngModel)]="chamado.data_inicial" placeholder="Data Inicial"
                                       required
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="data_final" class="control-label">Data Final</label>
                                <input class="form-control" type="date" id="data_final" name="data_final"
                                       [(ngModel)]="chamado.data_final" placeholder="Data Final"
                                       required
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descricao" class="control-label">Descriçoes</label>
                                <textarea class="form-control" rows="5" id="descricao" name="descricao" [(ngModel)]="chamado.descricao" placeholder="Descricao Produto/Serviço"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="defeito" class="control-label">Defeito</label>
                                <textarea class="form-control" rows="5" id="defeito" name="defeito" [(ngModel)]="chamado.defeito"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="observacao" class="control-label">Observação</label>
                                <textarea class="form-control" rows="5" id="observacao" name="observacao" [(ngModel)]="chamado.observacao" placeholder="Observação"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="laudo" class="control-label">Laudo Tecnico</label>
                                <textarea class="form-control" rows="5" id="laudo" name="laudo" [(ngModel)]="chamado.laudo"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="!chamado.id" type="submit" class="btn btn-outline-success"
                        [disabled]="!f.valid"><img src="js/assets/svg/si-glyph-floppy-disk.svg"/>
                    Salvar Ordem de Serviço
                </button>
            </form>
        </div>
    </div>

</app-chamado-card>
