.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.c2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-header2 {
  font-weight: bold;
  color: rgba(103, 87, 57, 0.8);
  padding: .60rem 1.25rem;

}


.c-body2 {
  span{
    font-size: 12px;
  }
  #logo_os{
    width: 200px;
    height: 150px;
  }
}

table{
  tr{
    font-size: 12px;
  }
  thead{
    background-color: #c6c6c6;
  }


}